#banner
  .banner_content
    %h1  File Cabinet
    %p Your life's work, organized always
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        lorem impsum dolar sit amet


#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to 'New user', new_user_registration_path